body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  background-color: #000;
}

.wrapper {
  width: 375px;
  height: 667px;
  background-color: #252234;
  color: #ffffff;
}

.logo {
  font-family: ".SFNSText-Bold", "SFProText-Bold", "SFUIText-Bold", ".SFUIText-Bold", "SF Pro Text", "-apple-system", "BlinkMacSystemFont", sans-serif;
  font-size: 48px;
  font-weight: 699;
  text-align: center;
  transform: translate(0, 57px);
}

.circle {
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transform: translate(-20px, -30px);
}

.small_circle {
  width: 23px;
  height: 23px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-10px, -10px);
}

img {
  width: 25px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-right: 1px solid #fff;

}

.input-container {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  margin-bottom: 15px;
  border-radius: 30px;
  width: 250px;
  height: 45px;
  margin: auto;
  transform: translateY(100px);
  margin-bottom: 20px;
  transition: 0.3s;
}

input[type='text']:focus, input[type='password']:focus {
  border-color: #ffa96e;
}

input {
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding-left:40px;
  background-size: 25px;
  padding-right: 20px;
}

input[type='text'] {
  border: 1px solid #fff;
  border-radius: 25px;
  background-image: url("../img/user.png");
}

.input-field {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ddd;
  font-size: 15px;
}

button {
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 30px;
  padding: 5px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  background-color: #fff;
  transform: translateY(110px);
  border: none;
  cursor: pointer;
  margin-top: 65px;
}

.big_circle {
  width: 284px;
  height: 284px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transform: translate(45px, 209px);
}

a {
  text-decoration: none;
  color: #fff;
}
